<?xml version="1.0" encoding="UTF-8"?>
<Routes path="/api" >
    <!-- Views -->
    <Route path="/" type="view" view="auth/login.xml" method="GET" />
    <!-- VIEWS - OPS -->
    <Route path="/ops" type="view" view="ops/overview.xml" method="GET" />
    <Route path="/ops/repositories/{$id}" type="view" view="inventory/repository.xml" method="GET" />
    <Route path="/ops/domains/{$id}" type="view" view="inventory/domain.xml" method="GET" />
    <Route path="/ops/services/{$id}" type="view" view="inventory/service.xml" method="GET" />
    <Route path="/ops/volumes/{$id}" type="view" view="inventory/volume.xml" method="GET" />
    <Route path="/ops/containers/{$id}" type="view" view="inventory/container.xml" method="GET" />
    <Route path="/ops/machines/{$id}" type="view" view="inventory/machine.xml" method="GET" />
    <Route path="/ops/articles/{$id}" type="view" view="ops/article.xml" method="GET" />
    <Route path="/ops/clients/{$id}" type="view" view="ops/client.xml" method="GET" />
    <Route path="/ops/means/{$id}" type="view" view="inventory/media.xml" method="GET" />
    <Route path="/ops/{means|product}" type="view" view="inventory/grid.xml" method="GET" />
    <Route path="/ops/products/{$id}" type="view" view="inventory/product.xml" method="GET" />
    <Route path="/ops/{repositories|domains|services|volumes|containers|machines|secrets|products}" type="view" view="inventory/overview.xml" method="GET" />
    <!-- VIEWS - DEV -->
    <Route path="/dev" type="view" view="dev/overview.xml" method="GET" />
    <Route path="/dev/ide" type="view" view="dev/ide.xml" method="GET" />
    <!-- VIEWS - GOV -->
    <Route path="/gov" type="view" view="gov/overview.xml" method="GET" />
    
    <Route path="/profile" type="view" view="auth/profile.xml" method="GET" />
    <Route path="/dashboard" type="view" view="auth/dashboard.xml" method="GET" />
    <Route path="/auth/signup" type="view" view="auth/registration.xml" method="GET" />
    <Route path="/auth/signin" type="view" view="auth/login.xml" method="GET" />
    <Route path="/auth/reset-password" type="view" view="auth/recovery.xml" method="GET" />
    
    <!-- Actions -->
    <Route path="/login" type="login" method="POST" />
    <Route path="/logout" type="logout" method="POST" />
    <Route path="/github/callback" type="login" method="GET" />
    <Route path="/gather" type="action" method="GET" policy="" />
    <Route path="/create" type="action" method="POST" policy="" />
    <Route path="/chat" type="action" method="POST" policy="" />
</Routes>